@{
    ViewBag.Title = "Jatan";
}

<div class="container">
    <div class="jumbotron">
        <h2>Settlers of Jatan</h2>
        <p class="lead">Jatan is an open-source recreation of the popular board game, Settlers of Catan.</p>
        <p><a href="https://github.com/jsnklpn/jatan" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>News</h2>
            <p>
                Still under development. Check back later.
            </p>
        </div>
    </div>
</div>