@{
    ViewBag.Title = "";
    ViewBag.ShowNavbar = false;
}

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/createjs-2015.11.26.min.js"></script>
    <script src="~/Scripts/Game/math.js"></script>
    <script src="~/Scripts/Game/game_globals.js"></script>
    <script src="~/Scripts/Game/game.js"></script>
}

@section css
{
    <link href="~/Content/game-styles.css" rel="stylesheet" type="text/css" />
}

<div id="loadingResourcesDiv">
    <div>Loading resources... <span id="percentLoadedText">0%</span></div>
    <div class="progress">
        <div id="resourceProgressBar" class="progress-bar progress-bar-jatan"
             role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<!-- Test panel -->
<div id="testPanel" class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav">
        <li><a id="btnUpdateGameManager" href="#">Update Manager</a></li>
        <li><a id="btnStartGame" href="#">Start Game</a></li>
        <li><a id="btnBuy" href="#">Buy</a></li>
        <li><a id="btnTrade" href="#">Trade</a></li>
        <li><a id="btnEndTurn" href="#">End Turn</a></li>
    </ul>
</div>

<div id="playerBox1" class="player-float-box">
    <img class="player-avatar" />
    <div class="small"><strong>player1</strong></div>
</div>
<div id="playerBox2" class="player-float-box">
    <img class="player-avatar" />
    <div class="small"><strong>player2</strong></div>
</div>
<div id="playerBox3" class="player-float-box">
    <img class="player-avatar" />
    <div class="small"><strong>player3</strong></div>
</div>
<div id="playerBox4" class="player-float-box">
    <img class="player-avatar" />
    <div class="small"><strong>player4</strong></div>
</div>

<canvas id="gameCanvas"></canvas>

@*<div id="gameLowerPanel">
    <div id="chatBox">
        <ul id="chatBoxList">
            <li>Welcome to Jatan!</li>
        </ul>
        <div>
            <input id="chatBoxInputText" type="text" placeholder=" Send message"/>
        </div>
    </div>
    <div id="lowerControls">
        <p>There are more controls here</p>
    </div>
</div>*@