@using JatanWebApp.Helpers
@using JatanWebApp.SignalR
@model GameLobby
@{
    ViewBag.Title = "";
    ViewBag.ShowNavbar = false;
}

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/createjs-2015.11.26.min.js"></script>
    <script src="~/Scripts/Game/math.js"></script>
    <script src="~/Scripts/Game/game_constants.js"></script>
    <script src="~/Scripts/Game/game.js"></script>
}

@section css
{
    <link href="~/Content/game-styles.css" rel="stylesheet" type="text/css" />
}

<div id="loadingResourcesDiv">
    <div>Loading resources... <span id="percentLoadedText">0%</span></div>
    <div class="progress">
        <div id="resourceProgressBar" class="progress-bar progress-bar-jatan"
             role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div id="lowerHud">
    <a id="btnStartGame" class="hud-button" href="#">Start Game</a>
    <div id="hudCenteredDiv">
        <a id="btnRollDice" class="hud-button" href="#">Roll Dice</a>
        <div id="btnBuyDiv" class="hud-button dropup">
            <a id="btnBuy" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="False">Buy <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a id="btnBuyRoad" href="#" class="btn">
                    <div class="buy-item-text">Road</div>
                    <div>
                        <span class="res-icon res-icon-brick"></span>
                        <span class="res-icon res-icon-wood"></span>
                    </div>
                </a></li>
                <li role="separator" class="divider"></li>
                <li><a id="btnBuySettlement" href="#" class="btn">
                    <div class="buy-item-text">Settlement</div>
                    <div>
                        <span class="res-icon res-icon-brick"></span>
                        <span class="res-icon res-icon-wood"></span>
                        <span class="res-icon res-icon-wheat"></span>
                        <span class="res-icon res-icon-sheep"></span>
                    </div>
                </a></li>
                <li role="separator" class="divider"></li>
                <li><a id="btnBuyCity" href="#" class="btn">
                    <div class="buy-item-text">City</div>
                    <div>
                        <span class="res-icon res-icon-wheat"></span>
                        <span class="res-icon res-icon-wheat"></span>
                        <span class="res-icon res-icon-ore"></span>
                        <span class="res-icon res-icon-ore"></span>
                        <span class="res-icon res-icon-ore"></span>
                    </div>
                </a></li>
                <li role="separator" class="divider"></li>
                <li><a id="btnBuyDevelopmentCard" href="#" class="btn">
                    <div class="buy-item-text">Development Card</div>
                    <div>
                        <span class="res-icon res-icon-sheep"></span>
                        <span class="res-icon res-icon-wheat"></span>
                        <span class="res-icon res-icon-ore"></span>
                    </div>
                </a></li>
            </ul>
        </div>
        <a id="btnTradeWithBank" class="hud-button" href="#">Trade</a>
        <a id="btnEndTurn" class="hud-button" href="#">End Turn</a>
        <canvas id="cardCanvas"></canvas>
    </div>
    <a id="btnLeaveGame" href="@Url.Action("Index", "Home")" class="hud-button text-danger">Leave Game</a>
</div>

<div id="chatMessagesBox" class="hidden">
    <ul id="chatMessagesList" oncontextmenu="return false;">
        <li class="chat-text-info">Welcome to @Model.Name!</li>
        <li class="chat-text-user">(Press Enter to chat.)</li>
        <li class="chat-text-info">* * * * * * * * * * * * * * * * * * * * *</li>
    </ul>
</div>

<div id="tradeDialog" class="trade-dialog box-shadow hidden">
    <div class="trade-dialog-title">Trade with Bank</div>
    <p>
        <strong>Ports owned:</strong>
        <span id="portsOwnedText">None.</span>
        <span>
            <span class="res-icon res-icon-wood"></span>
            <span class="res-icon res-icon-brick"></span>
            <span class="res-icon res-icon-wheat"></span>
            <span class="res-icon res-icon-sheep"></span>
            <span class="res-icon res-icon-ore"></span>
            <span class="res-icon res-icon-question"></span>
        </span>
    </p>
    <div id="toGiveLabel" class="trade-label">
        <div>To Give:</div>
        <div>-----&gt;</div>
    </div>
    <div id="toRecvLabel" class="trade-label">
        <div>To Receive:</div>
        <div>&lt;-----</div>
    </div>

    <div id="tradeGiveCanvasDiv" class="trade-canvas-div">
        <canvas id="tradeGiveCanvas" class="trade-canvas"></canvas>
        <div>
            <span id="btnGiveWood" class="trade-canvas-button res-icon-wood"></span>
            <span id="btnGiveBrick" class="trade-canvas-button res-icon-brick"></span>
            <span id="btnGiveWheat" class="trade-canvas-button res-icon-wheat"></span>
            <span id="btnGiveSheep" class="trade-canvas-button res-icon-sheep"></span>
            <span id="btnGiveOre" class="trade-canvas-button res-icon-ore"></span>
        </div>
    </div>
    <div id="tradeRecvCanvasDiv" class="trade-canvas-div">
        <canvas id="tradeRecvCanvas" class="trade-canvas"></canvas>
        <div>
            <span id="btnRecvWood" class="trade-canvas-button res-icon-wood"></span>
            <span id="btnRecvBrick" class="trade-canvas-button res-icon-brick"></span>
            <span id="btnRecvWheat" class="trade-canvas-button res-icon-wheat"></span>
            <span id="btnRecvSheep" class="trade-canvas-button res-icon-sheep"></span>
            <span id="btnRecvOre" class="trade-canvas-button res-icon-ore"></span>
        </div>
    </div>
    <div class="trade-button trade-button-ok">OK</div>
    <div class="trade-button trade-button-cancel">Cancel</div>
</div>

<div id="turnInfoBox" class="box-shadow hidden">
    <div id="userInfoText">
        <span id="userInfoTextactiveUser" class=""></span><span id="userInfoTextSpan"></span>
    </div>
    <div id="turnInfoText"></div>
</div>

<div id="diceInfoBox" class="box-shadow">
    <div id="diceLeftDiv">
        <div class="dice-div"><img id="diceImage1" class="dice-image center-vertical" /></div>
        <div class="dice-div"><img id="diceImage2" class="dice-image center-vertical" /></div>
    </div>
    <div id="diceRightDiv">
        <div id="diceText" class="center-vertical"></div>
        <div id="diceBottomText">was rolled!</div>
    </div>
</div>

@for (int i = 0; i < 4; i++)
{
    {
        string boxId = "playerBox" + (i + 1).ToString();
        <div id="@boxId" class="player-float-box box-shadow hidden">
            <img class="player-avatar box-shadow" src="" />
            <div class="player-name"></div>
            <div class="hover-layer"></div>
        </div>
    }
}

<div id="chatInputBox" class="box-shadow hidden">
    <input id="chatInputText" type="text" placeholder=" Send message" />
</div>

<canvas id="gameCanvas"></canvas>
