@using JatanWebApp.Models.ViewModels
@model JoinGameViewModel
@{
    ViewBag.Title = "Join Game";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                @:$("#errorModal").modal("show");
            }
        });
    </script>
    <script src="~/Scripts/Game/join.js"></script>
}
<div id="errorModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myErrorModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myErrorModalLabel">Failed</h4>
            </div>
            <div class="modal-body">
                <p>@(Model.ErrorMessage ?? "")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class=""> <!-- panel panel-default mt-15 -->
        <table class="table table-hover table-bordered game-lobby-list">
            <caption>Available games:</caption>
            <thead>
            <tr>
                <th></th> <!-- Join button -->
                <th>Name</th>
                <th>Creator</th>
                <th>Players</th>
                <th>Rules</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.AvailableGames.Any())
            {
                foreach (var game in Model.AvailableGames)
                {
                    @Html.Partial("_GameLobby", game)
                }
            }
            </tbody>
        </table>
        @if (!Model.AvailableGames.Any())
        {
            <div class="text-center"><em>No games found.</em></div>
        }
    </div>
</div>
