@using JatanWebApp.Helpers
@using JatanWebApp.Models.ViewModels
@model JoinGameViewModel
@{
    ViewBag.Title = "Join Game";
}
@section scripts
{
    <script src="~/Scripts/Game/join.js?v=@Html.GetGuid()"></script>
}

<!-- Enter password model dialog -->
<div id="passwordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myPasswordModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myPasswordModalLabel">This game requires a password.</h4>
            </div>
            <div class="modal-body">
                <input id="tbPassword" type="password" class="form-control" placeholder="Password" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="btnSubmitPassword">Join</button>
            </div>
        </div>
    </div>
</div>

<div class="container body-content">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger mt-15" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Model.ErrorMessage
        </div>
    }
    <div class=""> <!-- panel panel-default mt-15 -->
        <table class="table table-hover table-bordered game-lobby-list">
            <caption>Available games:</caption>
            <thead>
            <tr>
                <th></th> <!-- Join button -->
                <th>Name</th>
                <th>Creator</th>
                <th>Players</th>
                <th>Rules</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.AvailableGames.Any())
            {
                foreach (var game in Model.AvailableGames)
                {
                    @Html.Partial("_GameLobby", game)
                }
            }
            </tbody>
        </table>
        @if (!Model.AvailableGames.Any())
        {
            <div class="text-center"><em>No games found.</em>
            </div>
        }
    </div>
</div>
