@using JatanWebApp.Models.ViewModels
@model JoinGameViewModel
@{
    ViewBag.Title = "Join Game";
}

@if (Model.AvailableGames.Any())
{
    foreach (var game in Model.AvailableGames)
    {
        <div>@game.Owner - @game.Name</div>
    }
}
else
{
    <em>No games found.</em>
}

