html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#gameCanvas {
 /* The CSS will set the canvas display size, but 
    the actual pixel buffer size is set in javascript */
    width: 100vw;
    height: 100vh;
    display:block;
}

#loadingResourcesDiv {
    width: 300px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    text-align: center;
}

/* ============ */
/* Player boxes */
/* ============ */
.player-float-box {
    width: 250px;
    height: 140px;
    background:white;
    position: fixed;
    display: inline;
    padding: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.player-avatar {
    width: 48px;
    height: 48px;
}

.player-name {
    font-size: 12px;
    font-weight: bold;    
}

#playerBox1 {
    top: -1px;
    left: -1px;
    border-bottom-right-radius: 4px;
}

#playerBox2 {
    top: -1px;
    right: -1px;
    border-bottom-left-radius: 4px;
}

#playerBox3 {
    bottom: 49px;
    left: -1px;
    border-top-right-radius: 4px;
}

#playerBox4 {
    bottom: 49px;
    right: -1px;
    border-top-left-radius: 4px;
}

/* ========== */
/*  Chat box  */
/* ========== */
#chatBox {
    position: fixed;
    float: left;
    width: 240px;
    top: 140px;
    bottom: 190px;
    border: 0;
    margin: 5px;
}

#chatBoxInputText {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

#chatBoxList {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    padding: 4px;
    margin-bottom: 35px;
    overflow: hidden;
    list-style: none;
    cursor: text;
    background-color: transparent;
}

#chatBoxList:hover { 
    overflow:auto;
}

#chatBoxList > li {
    font-weight: bold;
    font-size: 14px;
    margin-top: -3px;
    margin-bottom: -3px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

input[type="text"] {
    display: block;
    padding: 6px;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 13px;
    border: 0;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="text"]:focus {
    outline: none;
}
::-webkit-input-placeholder {
    color: #e0e0e0;
}
::-moz-placeholder {
    color: #e0e0e0;
}
:-ms-input-placeholder {
    color: #e0e0e0;
}
:-moz-placeholder {
    color: #e0e0e0;
}

.chat-text-user {
    color: white;
}
.chat-text-info {
    color: #99ff99;
}
.chat-text-warning {
    color: #ffff00;
}
.chat-text-danger {
    color: #ff4500;
}