body {
}

#gameCanvas {
    width: 1000px;
    height: 400px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#gameLowerPanel {
    width: 1000px;
}

#lowerControls {
    float: right;
    width: 695px;
    height: 126px;
    margin-left: 5px;
    background-color: grey;
}

#chatBox {
    float: left;
    width: 300px;
}

#chatBoxList {
    width: 300px;
    height: 100px;
    padding-left: 3px;
    margin-bottom: 3px;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    list-style: none;
    font-size: 85%;
}

#chatBoxInputText {
    width: 300px;
    font-size: 85%;
}