html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#gameCanvas {
 /* The CSS will set the canvas display size, but 
    the actual pixel buffer size is set in javascript */
    width: 100vw;
    height: 100vh;
    display:block;
}

#loadingResourcesDiv {
    width: 300px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    text-align: center;
}

.box-shadow {
    box-shadow: 1px 1px 10px #000;
}

.center-vertical {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ============= */
/* Game info box */
/* ============= */
#turnInfoBox {
    position: fixed;
    top: -1px;
    height: 65px;
    width: 400px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

    padding: 2px;
    
    background-image: url("Images/site/wood_tile.png");
    background-repeat: repeat;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    font-weight: bold;
    font-family: serif;
    color: #eee;
    text-shadow: 2px 2px 0px #000;
    text-align: center;
}

#userInfoText {
    font-size: 24px;
}

#turnInfoText {
    font-size: 16px;
}

.text-color-blue {
    color: #13f;
}
.text-color-red {
    color: #f32;
}
.text-color-green {
    color: #2f2;
}
.text-color-yellow {
    color: gold;
}

/* ============= */
/* Dice info box */
/* ============= */

#diceInfoBox {
    position: fixed;
    height: 100px;
    width: 170px;
    right: -200px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    
    background-image: url("Images/site/wood_tile.png");
    background-repeat: repeat;

    border: 1px solid black;

    font-weight: bold;
    font-family: serif;
    color: #eee;
    font-size: 16px;
    text-shadow: 2px 2px 0px #000;
    text-align: center;

    transition: right 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#diceInfoBox.dice-box-show {
    right: -1px;
}

#diceLeftDiv {
    float:left;
    width:40%;
    height:100%;
}

#diceRightDiv {
    float:right;
    width:60%;
    height:100%;
}

#diceText {
    font-family: sans-serif;
    color: #fff;
    font-size: 42px;
}

#diceBottomText {
    position:absolute;
    bottom:0;
    width:60%;
}

.dice-div {
    width:100%;
    height:50%;
    text-align:center;
}

.dice-image {
    width:42px;
    height:42px;
    background-color:white;
}

/* ============ */
/* Player boxes */
/* ============ */
.player-float-box {
    width: 250px;
    height: 140px;
    position: fixed;
    display: inline;
    padding: 10px;

    background-image: url("Images/site/wood_tile.png");
    background-repeat: repeat;

    border-style: solid;
    border-width: 1px;
}

.player-avatar {
    width: 48px;
    height: 48px;
}

.active-player > .player-avatar {
    /* http://easings.net/en */
    -webkit-animation:1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite alternate pulse;
    -moz-animation:1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite alternate pulse;
    animation:1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite alternate pulse;
}
@-moz-keyframes pulse { from { -moz-transform: scale(1.0); } to { -moz-transform: scale(1.15); } }
@-webkit-keyframes pulse { from { -webkit-transform: scale(1.0); } to { -webkit-transform: scale(1.15); } }
@keyframes pulse { from { -webkit-transform:scale(1.0); transform: scale(1.0); } to { -webkit-transform: scale(1.15); transform: scale(1.15); } }

.player-name {
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    color: #eee;
    text-shadow: 2px 2px 0px #000;
}

#playerBox1 {
    top: -1px;
    left: -1px;
    border-right-width: 10px;
}

#playerBox2 {
    top: -1px;
    right: -1px;
    border-left-width: 10px;
}

#playerBox3 {
    bottom: 49px;
    left: -1px;
    border-right-width: 10px;
}

#playerBox4 {
    bottom: 49px;
    right: -1px;
    border-left-width: 10px;
}

.player-color-blue {
    border-color: #13f;
}
.player-color-red {
    border-color: #f32;
}
.player-color-green {
    border-color: #2f2;
}
.player-color-yellow {
    border-color: gold;
}

/* ========== */
/*  Chat box  */
/* ========== */
#chatMessagesBox {
    pointer-events: none;
    position: fixed;
    float: left;
    width: 240px;
    top: 140px;
    bottom: 190px;
    border: 0;
    margin: 5px;
}

#chatMessagesList {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    max-height: 300px;
    padding: 4px;
    margin-bottom: 0px;
    overflow: hidden;
    list-style: none;
    background-color: transparent;
}

#chatMessagesList:hover { 
    /*overflow:auto;*/
}

#chatMessagesList > li {
    pointer-events: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: -3px;
    margin-bottom: -3px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#chatInputBox {
    position: fixed;
    width: 400px;
    height: 60px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 10px;

    background-image: url("Images/site/wood_tile.png");
    background-repeat: repeat;

    border: 1px solid black;
}

#chatInputText {
    display: block;
    width: 100%;
    height: 100%;
}

input[type="text"] {
    padding: 6px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background: black;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid black;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="text"]:focus {
    outline: none;
}
::-webkit-input-placeholder {
    color: #e0e0e0;
}
::-moz-placeholder {
    color: #e0e0e0;
}
:-ms-input-placeholder {
    color: #e0e0e0;
}
:-moz-placeholder {
    color: #e0e0e0;
}

.chat-text-user {
    color: white;
}
.chat-text-info {
    color: #99ff99;
}
.chat-text-warning {
    color: #ffff00;
}
.chat-text-danger {
    color: #ff4500;
}