body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* ====================== */
/*      PROGRESS BAR      */
/* ====================== */
.progress {
    background: rgba(224, 224, 224, 1);
    background: -webkit-linear-gradient(top, rgba(171, 171, 171, 1) 0%, rgba(224, 224, 224, 1) 100%);
    background: linear-gradient(to bottom, rgba(171, 171, 171, 1) 0%, rgba(224, 224, 224, 1) 100%);
    border: 0px solid rgba(0, 0, 0, 1);
    border-radius: 2px;
    height: 19px;
}
.progress-bar-jatan {
    background: #e27a00;
    background: -webkit-linear-gradient(top, #ecd200 0%, #e27a00 100%);
    background: linear-gradient(to bottom, #ecd200 0%, #e27a00 100%);
}

/* ====================== */
/*         NAVBAR         */
/* ====================== */

/* The logo needs more room */
.navbar-brand {
    padding-top: 9px;
}
/*.jatan-logo-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.jatan-logo-image:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}*/

/* http://work.smarchal.com/twbscolor/css/ffecd9ffc3887e57454f372c0 */
.navbar-default {
  background-color: #ffecd9;
  border-color: #ffc388;
}
.navbar-default .navbar-brand {
  color: #7e5745;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4f372c;
}
.navbar-default .navbar-text {
  color: #7e5745;
}
.navbar-default .navbar-nav > li > a {
  color: #7e5745;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4f372c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4f372c;
  background-color: #ffc388;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #4f372c;
  background-color: #ffc388;
}
.navbar-default .navbar-toggle {
  border-color: #ffc388;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffc388;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #7e5745;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #7e5745;
}
.navbar-default .navbar-link {
  color: #7e5745;
}
.navbar-default .navbar-link:hover {
  color: #4f372c;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #7e5745;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4f372c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4f372c;
    background-color: #ffc388;
  }
}
