body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.mr-1 {
    margin-right: 0.5em;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

/* ====================== */
/*       LOBBY LIST       */
/* ====================== */
.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

.game-lobby-list {

}

.game-lobby-item {
    
}

/* ====================== */
/*      SIGN-IN FORM      */
/* ====================== */
.form-signin {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #999999;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.signin-logo {
    display: block;
    width: 200px;
    text-align: center;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -14px;
}

/* ====================== */
/*       CREATE GAME      */
/* ====================== */
.form-create {
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    padding-left: 80px;
    border: 1px solid #999999;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.form-create-logo {
    display: inline;
    position: absolute;
    left: 200px;
    top: -70px;
    padding: 0px;
}

.form-group {
    position: relative;
}

.group-label-icon {
    display: inline;
    position: absolute;
    top: 35px;
    right: 425px;
}

/* ====================== */
/*      PROGRESS BAR      */
/* ====================== */
.progress {
    background: rgba(224, 224, 224, 1);
    background: -webkit-linear-gradient(top, rgba(171, 171, 171, 1) 0%, rgba(224, 224, 224, 1) 100%);
    background: linear-gradient(to bottom, rgba(171, 171, 171, 1) 0%, rgba(224, 224, 224, 1) 100%);
    border: 0px solid rgba(0, 0, 0, 1);
    border-radius: 2px;
    height: 19px;
}
.progress-bar-jatan {
    background: #e27a00;
    background: -webkit-linear-gradient(top, #ecd200 0%, #e27a00 100%);
    background: linear-gradient(to bottom, #ecd200 0%, #e27a00 100%);
}

/* ====================== */
/*         NAVBAR         */
/* ====================== */

/* The logo needs more room */
.navbar-brand {
    padding-top: 9px;
}

