body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* The logo needs more room */
.navbar-brand {
    padding-top: 9px;
}

.jatan-logo-image {
    /*height: 30px;*/
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.jatan-logo-image:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

